.footer
  flex: 0 0 auto
  padding: 72px 0 24px 0
  background: #242424
  margin-top: 110px

  &__head
    display: flex
    justify-content: space-between
    padding-bottom: 64px
    border-bottom: 1px solid rgba(255, 255, 255, 0.15)

  &__bottom
    display: flex
    justify-content: space-between
    margin-top: 24px
    font-size: 12px
    line-height: 16px
    color: rgba(255, 255, 255, 0.5)