.profile-page

  .title
    margin-bottom: 64px

  &__content
    display: flex

  &__user
    flex: 0 0 30%

  &__info
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    flex: 0 0 70%

    .input-wrapper
      
      &:nth-child(1)
        flex: 0 0 calc(50% - 16px)
        margin-right: 32px

      &:nth-child(2)
        flex: 0 0 calc(50% - 16px)

      &:nth-child(3)
        flex: 0 0 100%